mj-section
  mj-group
    mj-column
      mj-text(mj-class="h1 pb-24") Navan
    mj-column
      mj-social(align="right" mode="horizontal" icon-size="24px" inner-padding="0px 0px 0px 8px")
        mj-social-element(icon-size="24px" src=`${apiDns}/public/email/images/instagram.png` href="")
        mj-social-element(icon-size="24px" src=`${apiDns}/public/email/images/facebook.png` href="")
