@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #18181b;
  --color-primary-foreground: #ffffff;

  --color-background: #ffffff;
  --color-foreground: #09090b;

  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;

  --color-border: #e4e4e7;
  --color-input: #e4e4e7;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-success: #22c55e;
  --color-success-foreground: #ffffff;

  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;
}
