mj-attributes
  mj-all(font-family="Helvetica, Arial, Ubuntu, sans-serif" color="rgba(0, 0, 0, 1)")
  mj-class(name="bg-white" background-color="white")
  mj-class(name="py-48" padding-top="48px" padding-bottom="48px")
  mj-class(name="px-24" padding-left="24px" padding-right="24px")
  mj-class(name="pt-48" padding-top="48px")
  mj-class(name="pb-8" padding-bottom="8px")
  mj-class(name="pb-24" padding-bottom="24px")
  mj-class(name="pl-24" padding-left="24px")
  mj-class(name="p-8" padding="8px")
  mj-class(name="p1" font-size="16px" line-height="24px" font-weight="300")
  mj-class(name="h1" font-size="20px" line-height="28px" font-weight="700")
  mj-class(name="bold" font-weight="700")
  mj-class(name="divider" border-width="1px" border-style="solid" border-color="rgba(255, 255, 255, 0.5)")

mj-style.
  body {
    background-color: #fff;
    padding: 1rem;
  }
